@{
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
    //Broke out the Book info into a partial view in case we want to use just the book info in another place
    <partial name="BookSummary" model="b"/>
}

@*Create links for each page listing books*@
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>